<div class="sidebar">
    <nav class="sidebar-nav">
        <form>
            <div class="form-group p-h mb-0">
                <input type="text" class="form-control" aria-describedby="search" placeholder="Search...">
            </div>
        </form>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> {{ 'DASHBOARD' | translate }} <span class="tag tag-info">NEW</span></a>
            </li>

        </ul>
    </nav>

</div>
